@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

.shadow-pers {
  box-shadow: 0px 2px 10px gray;
}